@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {

    --token-8d6d3b89-767b-442f-9e58-976a9d3d131f: rgb(0, 2, 53);
    --token-6ba06e6b-fdc9-4ffb-9d96-dab5421e4e3b: rgb(255, 255, 255);
    --token-c5f1da1f-e558-4012-bcfa-0c426f51b0a3: rgb(149, 219, 245);
    --token-8ac16af9-f93c-4779-9548-b8ec4a780e04: rgb(165, 226, 25);
    --token-a06db84d-e101-4f57-91a9-e3c9095b3328: rgb(179, 230, 61);
    --token-67245e79-bc7e-4163-8724-65ee3623b6f5: rgb(198, 237, 110);
    --token-9dd2c42e-f333-4ec6-a18d-3607d22eeaaa: rgb(217, 243, 158);
    --token-8c47657d-c878-4673-b77f-6ba6c2327b21: rgb(19, 20, 18);
    --token-91160f72-e56f-4da9-b6dd-8ab2381295d0: rgb(32, 33, 31);
    --token-d9d41dab-9a43-47dd-b01d-d79e09a1c9ee: rgb(57, 57, 56);
    --token-523cd71c-7cfb-490d-83ed-fc88ab945944: rgb(106, 107, 106);
    --token-33edb184-dccc-4104-986a-abaaf0a86239: rgb(156, 156, 155);
    --token-fc67e90e-48dc-4f80-982e-70997b015a08: rgb(198, 199, 198);
    --token-c0cc5dff-050e-406f-b804-a969640d86f0: rgb(31, 169, 209);
    --token-e650a5fe-9f66-40c0-99d6-90aa66e289f8: rgb(44, 68, 155);


    --color-1: rgb(1, 3, 60);
    --color-2: rgb(255, 255, 255);
    --color-3: rgb(149, 219, 245);
    --color-4: rgb(165, 226, 25);
    --color-5: rgb(179, 230, 61);
    --color-6: rgb(198, 237, 110);
    --color-7: rgb(217, 243, 158);
    --color-8: rgb(19, 20, 18);
    --color-9: rgb(32, 33, 31);
    --color-10: rgb(57, 57, 56);
    --color-11: rgb(106, 107, 106);
    --color-12: rgb(156, 156, 155);
    --color-13: rgb(198, 199, 198);
    --color-14: rgb(31, 169, 209);
    --color-15: rgb(44, 68, 155);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    transition: all ease 0.3s;
}

h1,
h2,
h3,
h4,
h5 p {
    font-family: inter;
}

.backcolor {
    background-color: rgb(0, 2, 53);
}

a {
    text-decoration: none !important;
}

.btn-hero {
    background-color: var(--color-3);
    color: black;
    border-radius: 50px;
    padding: 20px 25px;
    outline: none;
    border: none;
    text-decoration: none;
    font-weight: 500;
    transition: background ease 1s;
}

.btn-hero:hover {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
}

.btn-random {
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* index-page start */
.header {
    height: auto;
    left: 120px;
    position: fixed;
    right: 120px;
    top: 20px;
    z-index: 10;
}

.navbar {
    border: 1px solid rgb(2, 6, 120);
    border-radius: 50px;
    padding: 18px 60px;
    background-color: rgba(6, 8, 56, 0.45);
    backdrop-filter: blur(10px);
    background-color: rgba(6, 8, 56, 0.45);
    width: 100%;
    transform: none;
    transform-origin: 50% 50% 0px;
    box-shadow: rgb(0, 2, 53) 0px 1px 2px 0px;
}

.logo-img {
    display: block;
    width: 180px;
    color: white;
}

.link-text {
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: var(--color-2);
}

.link-text:hover {
    color: var(--color-3);
}

.active {
    color: var(--color-3);
}

#menu {
    display: none;
}

.second-section {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.responsive-iframe {
    width: 1000px;
    height: 500px;
}

.anim {
    display: block;
    margin: auto;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    left: 0px;
}

.badge {
    background-color: var(--color-3);
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.badge-title {
    font-size: 15px;
    font-weight: 400;
}

.main-title {
    font-size: 70px;
    line-height: 85px;
    font-weight: 500;
    text-align: center;
    color: var(--color-2);
    width: 90%;
    margin: 0 auto;
}

.font {
    font-size: 22px;
    font-weight: 600;
    padding: 16px 38px;
    transition: all ease 0.5s;
}

.bi-arrow-up-right {
    font-weight: 600;
}

.font:hover {
    transform: scale(1.02, 1);
    /* Scale width by 1.02 and height by 0.33 */
}

.brtw {
    border-radius: 12px;
}

.cover-bg {
    background: linear-gradient(180deg, var(--color-1) 0%, var(--color-1) 70%, var(--color-1) 100%);
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #ffffff;
}

.moving-list>li {
    font-size: 25px;
    font-weight: 600;
    flex: 0 0 auto;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.moving-list>li::before {
    content: "|";
    margin: 0px 20px;
}
.mask1{
    mask-image: linear-gradient(to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%);
}

.moving-list {
    display: flex;
    /* overflow-x: hidden; */
    /* align-items: center; */
    justify-content: center;
    color: #00c6ff;
    width: 200%;
    list-style: none;
   
    animation: logoloop 80s linear infinite;
    animation-play-state: running;

}

.moving-list:hover {
    animation-play-state: paused;
}

@keyframes logoloop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

img {
    object-fit: cover;
}


.para {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #c6c7c6;
    font-size: calc(var(--framer-font-size, 16px) * var(--framer-font-size-scale, 1));
    line-height: 1.5em;
    text-align: justify;
    color: #c6c7c6;
}

.feature-title {
    font-size: 50px;
    line-height: 60px;
    text-align: start;
    width: 100%;
    color: white;
}


.mask {
    position: relative;
    overflow: hidden;
    height: 700px;
    mask-image: linear-gradient(rgba(11, 10, 10, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.h {
    position: relative;
    overflow: hidden;
    height: auto;
    margin-top: 20px;
    mask-image: linear-gradient(rgba(11, 10, 10, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}



.box {
    background: linear-gradient(180deg, rgb(2, 6, 120) 0%, var(--token-8d6d3b89-767b-442f-9e58-976a9d3d131f, rgb(0, 2, 53)) 100%);
    width: 95%;
    opacity: 1;
    transform: perspective(1200px);
    border-radius: 9px;
    padding: 30px 30px;
    overflow: hidden;
    cursor: pointer;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box::before {
    content: '';
    position: absolute;
    filter: blur(45px);
    width: 100%;
    height: 76px;
    left: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.box::after {
    content: '';
    height: 3px;
    left: 25px;
    position: absolute;
    bottom: 0px;
    width: 80%;

    background: linear-gradient(90deg, rgba(160, 224, 13, 0) 0%, var(--token-c5f1da1f-e558-4012-bcfa-0c426f51b0a3, rgb(149, 219, 245))
        /* {"name":"Main color"} */
        52.85966992378235%, rgba(160, 224, 13, 0) 100%);
    opacity: 0;

}

.box:hover::before {
    background: linear-gradient(180deg, var(--token-c5f1da1f-e558-4012-bcfa-0c426f51b0a3, rgb(149, 219, 245)) 0%, var(--token-c5f1da1f-e558-4012-bcfa-0c426f51b0a3, rgb(149, 219, 245)) 100%);
    filter: blur(45px);
    border-radius: 100%;
    opacity: 1;
    border: 2px solid white;
}

.box:hover::after {
    opacity: 1;
}


.box-items {
    animation: lolopopo 10s linear infinite;
    animation-play-state: running;
    will-change: transform;
}


@keyframes lolopopo {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

.box-items2 {
    animation: lolopopo2 10s linear infinite;
    animation-play-state: running;
    will-change: transform;

}


@keyframes lolopopo2 {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}

.t-heading {
    color: white;
    font-weight: 800
}

.w-box-parent{
    gap: 30px !important;
}


.w-box {
    width: 400px;
    margin: 0 auto;
    position: relative;
    padding: 20px 30px !important;
    border-radius: 4px;
    background: linear-gradient(180deg, rgb(2, 6, 120) 0%, var(--token-8d6d3b89-767b-442f-9e58-976a9d3d131f, rgb(0, 2, 53)) 100%);
}

.w-box::before {
    content: '';
    position: absolute;
    filter: blur(45px);
    width: 100%;
    height: 76px;
    left: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    width: 80%;
}

.w-box::after {
    content: '';
    height: 3px;
    left: 25px;
    position: absolute;
    bottom: 0px;
    width: 80%;
    /* height: 100%; */
    transition: all ease 0.4s;
    z-index: 2;
    background: linear-gradient(90deg, rgba(160, 224, 13, 0) 0%, var(--token-c5f1da1f-e558-4012-bcfa-0c426f51b0a3, rgb(149, 219, 245))
        /* {"name":"Main color"} */
        52.85966992378235%, rgba(160, 224, 13, 0) 100%);
    opacity: 0;

}

.w-box:hover::before {
    background: linear-gradient(180deg, var(--token-c5f1da1f-e558-4012-bcfa-0c426f51b0a3, rgb(149, 219, 245)) 0%, var(--token-c5f1da1f-e558-4012-bcfa-0c426f51b0a3, rgb(149, 219, 245)) 100%);
    filter: blur(45px);
    border-radius: 100%;
    opacity: 1;
    border: 2px solid white;
}

.w-box:hover::after {
    opacity: 1;
}

.moving-list2 {
    animation: lolopopo3 20s linear infinite;
    animation-play-state: running;
    will-change: transform;

}

@keyframes lolopopo3 {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.btn-link {
    color: #ffffff;
}

.btn-link:hover {
    text-decoration: none;
}

.card {

    background: linear-gradient(180deg, rgb(4, 7, 109) 0%, rgb(0, 2, 53))rgb(0, 2, 53) 100%;
    max-width: 100%;
    width: 100%;
    border-radius: 15px;
    transform: none;
    transform-origin: 50% 50% 0px;

}

.card-header {
    background: linear-gradient(-180deg rgb(4, 7, 109) 0%, rgb(0, 2, 53))rgb(0, 2, 53) 100%;
    border: none;
}

.card-body {
    border: none;
}

.btn:focus {
    box-shadow: none;
}

.bg-color {
    background: linear-gradient(180deg, var(--color-15), var(--color-1) 100%);
}

@media screen and (max-width: 768px) {
    .feature-title {
        font-size: 32px;
        line-height: 1.4em;
    }

    .brtw {
        border-radius: 8px;
    }
}



/* contact start */

.contact-form {
    width: 100%;
    padding: 25px 10px;
    border-radius: 8px;
    font-family: "Inter ", Inter, Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 16px;
    background: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    box-shadow: transparent 0px 0px 0px 1px inset;
}

.form-area {
    width: 100%;
    padding: 15px;
    resize: vertical;
    min-height: 250px;
    border-radius: 8px;
    background: rgb(235, 235, 235);
    font-family: "Inter Regular", Inter, Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 16px;
    color: rgb(0, 0, 0);
    box-shadow: transparent 0px 0px 0px 1px
}

.t-btn {
    background: var(--color-3);
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0px;
    color: var(--color-1);
}

.contact-icon {
    font-size: 40px;
    margin: 10px 0px;
    color: var(--color-3) !important;
}

/* contact end */
/* about-us start */
.para-p {
    font-size: 20px;
    font-weight: 600;
}

.backimage {
    background-image: url(../image/backimage.jpg);
    background-size: cover;
    background-repeat: center;
    height: 500px;
    border-radius: 20px;
}

.teams {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.blog-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.blog-title {
    font-weight: 600;
    font-size: 50px;
}

/* about-us end */

/* pricing */
.price-card {
    padding: 20px 30px;
    background: linear-gradient(180deg, #020678 0%, var(--token-8d6d3b89-767b-442f-9e58-976a9d3d131f, rgb(0, 2, 53)) 100%);
    border-radius: 10px;
    color: white;
}

.price-card li {
    margin: 20px 5px;
}

.price-card .btn {
    border-radius: 30px;
}

.login {
    background-color: rgb(5, 5, 70);
    border-radius: 50px
}

.login-btn {
    background-color: rgb(30, 41, 59);
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
}

.login .form-control {
    padding: 25px 10px;
    background-color: transparent;
    border-radius: 20px;
}

.login .form-control:focus {
    box-shadow: none;
}

/* pricing */

@media screen and (max-width: 1024px) {
    .header {
        height: auto;
        left: 20px;
        position: sticky;
        right: 20px;
        top: 20px;
        z-index: 10;
    }

    .navbar {
        padding: 20px 24px;
    }

    .mobile-nav {
        display: block;
    }

    #menu {
        display: block;
        font-size: x-large;
    }

    .show {
        display: block;
        transition: all 0.3s ease-in-out;
        width: 100%;
        text-align: center;
        flex-direction: column;
        z-index: 1000;
    }

    .show-color {
        border: 1px solid rgb(2, 6, 120);
        ;
        backdrop-filter: blur(10px);
        background-color: rgba(6, 8, 56, 0.45);
        width: 100%;
        transform: none;
        transform-origin: 50% 50% 0px;
        border-radius: 0px;
        box-shadow: rgb(0, 2, 53) 0px 1px 2px 0px;

    }

    .navbar-nav {
        margin-top: 20px;
        gap: 50px;
    }

    .btn-margin {
        margin: 20px 0px;
    }

    .br {
        border-radius: 5px;
    }

    .hide {
        display: none;
    }

    .responsive-iframe {
        width: 800px;
        height: 400px;
    }

    #bottom-footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 994px) {
    .responsive-iframe {
        width: 600px;
        height: 300px;
    }

    .main-title {
        font-size: 50px;
        text-align: center;
        line-height: 60px;
    }

    .w-box {
        width: 350px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .responsive-iframe {
        width: 500px;
        height: 300px;
    }

    .main-title {
        font-size: 40px;
        text-align: center;
        line-height: 50px;
    }

    .blog-title {
        font-weight: 600;
        font-size: 40px;
    }
}

@media screen and (max-width: 576px) {

    .logo-img {
        width: 150px;
    }

    .responsive-iframe {
        width: 340px;
        height: 200px;
    }

    .main-title {
        font-size: 30px;
        text-align: center;
        line-height: 40px;
    }

    .w-box {
        width: 300px;
        margin: 0 auto;
    }

    /* blog */
    .blog-img {
        width: 300px;
        height: 150px;
        object-fit: cover;
    }

}


@media screen and (max-width: 340px) {
    .responsive-iframe {
        width: 200px;
        height: 200px;
    }

    .logo-img {
        width: 150px;
    }

    .w-box {
        width: 350px;
        margin: 0 auto;
    }
}

/* index-page end */

/* error page start */
.error {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.error-title {
    font-size: 260px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: var(--color-3);
    text-shadow: 1px 1px 20px var(--color-11);
}

@media screen and (max-width: 994px) {
    .error-title {
        font-size: 200px;
    }
}

@media screen and (max-width: 768px) {
    .error-title {
        font-size: 150px;
    }
}

@media screen and (max-width: 576px) {
    .error-title {
        font-size: 100px;
    }
}

/* error page end */


/* cs/ca/csw */
.cacscwa {
    padding-top: 150px;
}

.title-md {
    width: 100%;
    text-align: center;
    font-size: 45px;
    line-height: 1.3em;
    color: white;
    font-weight: 600;
}

.container {
    max-width: 1250px;
}

.flex-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 994px) {

    .cacscwa {
        padding-top: 40px;
    }

    .title-md {
        text-align: center;
        font-size: 32px;
        line-height: 1.2em;
        color: white;
    }
}

.frame-flex12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;

}

.frame-flex12child {
    max-width: 350px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.frame-flex12child .para {
    text-align: center;
    color: rgb(198, 199, 198);
}

.frame-flex12child svg {
    height: 48px;
    width: 48px;
}

/* cs/ca/csw */