@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --color-1: rgb(0, 2, 53);
    --color-2: rgb(255, 255, 255);
    --color-3: rgb(149, 219, 245);
    --color-4: rgb(165, 226, 25);
    --color-5: rgb(179, 230, 61);
    --color-6: rgb(198, 237, 110);
    --color-7: rgb(217, 243, 158);
    --color-8: rgb(19, 20, 18);
    --color-9: rgb(32, 33, 31);
    --color-10: rgb(57, 57, 56);
    --color-11: rgb(106, 107, 106);
    --color-12: rgb(156, 156, 155);
    --color-13: rgb(198, 199, 198);
    --color-14: rgb(31, 169, 209);
    --color-15: rgb(44, 68, 155);
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.backcolor {
    background-color: rgb(0, 2, 53);
}

a {
    text-decoration: none !important;
}

.btn-hero {
    background-color: var(--color-3);
    color: black;
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    border: none;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.8s ease-in-out;
}

.btn-hero:hover {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
}

.btn-random {
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid white;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* index-page start */
.header {
    height: auto;
    left: 120px;
    position: fixed;
    right: 120px;
    top: 20px;
    z-index: 10;
}

.navbar {
    border: 1px solid rgb(2, 6, 120);
    border-radius: 50px;
    padding: 18px 60px;
    background-color: rgba(6, 8, 56, 0.45);
    backdrop-filter: blur(10px);
    background-color: rgba(6, 8, 56, 0.45);
    width: 100%;
    transform: none;
    transform-origin: 50% 50% 0px;
    box-shadow: rgb(0, 2, 53) 0px 1px 2px 0px;
}

.logo-img {
    display: block;
    width: 180px;
    color: white;
}

.link-text {
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: var(--color-2);
}

.link-text:hover {
    color: var(--color-3);
}

.active {
    color: var(--color-3);
}

#menu {
    display: none;
}

.second-section {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    position: relative;
    height: 100vh;
}

.responsive-iframe{
    width: 1000px;
    height: 500px;
}
.anim {
    display: block;
    margin: auto;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    left: 0px;
}

.badge {
    background-color: var(--color-3);
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.badge-title {
    font-size: 15px;
    font-weight: 400;
}

.main-title {
    font-size: 70px;
    line-height: 85px;
    font-weight: 500;
    text-align: center;
    color: var(--color-2);
}

.font {
    font-size: 24px;
    font-weight: 600;
    padding: 16px 38px;
    transition: all ease-in-out 0.7s;
}

.font:hover {
    scale: 1.06;
}

/* .uper-bg {
    aspect-ratio: 2.346820809248555 / 1;
    background-color: var(--token-8d6d3b89-767b-442f-9e58-976a9d3d131f, #000235);
    border-radius: 100%;
    bottom: -540px;
    box-shadow: inset 0 2px 20px #fff, 0 -10px 50px 1px #ffffff7d;
    flex: none;
    width: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
} */

.cover-bg {
    background-color: var(--color-1);
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moving-list {
    display: flex;
    overflow-x: hidden;
    align-items: center;
    justify-content: flex-start;
    color: #00c6ff;
    width: 200%;
    list-style: none;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0) 0%,
            rgb(0, 0, 0) 12.5%,
            rgb(0, 0, 0) 87.5%,
            rgba(0, 0, 0, 0) 100%);
    animation: logoloop 20s linear infinite;
    animation-play-state: running;
    will-change: transform;
}

.moving-list:hover {
    animation: logoloop 80s linear infinite;
}

.moving-list>li {
    font-size: 25px;
    font-weight: 600;
    flex: 0 0 auto;
    text-align: center;
    padding: 10px;
}

.moving-list>li::before {
    content: "| ";
    margin: 0px 20px;
}

.box {
    background: linear-gradient(180deg, rgb(2, 6, 120) 0%, var(--token-8d6d3b89-767b-442f-9e58-976a9d3d131f, rgb(0, 2, 53))
        /* {"name":"Dark"} */
        100%);
    width: 100%;
    opacity: 1;
    transform: perspective(1200px);
    border-radius: 9px;
    padding: 30px 24px;
    overflow: hidden;
    cursor: pointer;
}

.box::before {
    content: '';
    position: absolute;
    filter: blur(45px);
    width: 100%;
    height: 76px;
    left: calc(49.86486486486486% - 257px / 2);
    position: absolute;
    bottom: 0px;
    width: 257px;

}

.box::after {
    content: '';
    height: 3px;
    left: calc(46.08108108108108% - 343px / 2);
    position: absolute;
    bottom: 0px;
    width: 343px;
    background: linear-gradient(90deg, rgba(160, 224, 13, 0) 0%, var(--token-c5f1da1f-e558-4012-bcfa-0c426f51b0a3, rgb(149, 219, 245))
        /* {"name":"Main color"} */
        52.85966992378235%, rgba(160, 224, 13, 0) 100%);
    opacity: 0;

}

.box:hover::before {
    background: linear-gradient(180deg, var(--token-c5f1da1f-e558-4012-bcfa-0c426f51b0a3, rgb(149, 219, 245)) 0%, var(--token-c5f1da1f-e558-4012-bcfa-0c426f51b0a3, rgb(149, 219, 245)) 100%);
    filter: blur(45px);
    border-radius: 100%;
    opacity: 1;
    border: 2px solid white;
}

.box:hover::after {
    opacity: 1;
}

.para {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #c6c7c6;
    font-size: calc(var(--framer-font-size, 16px) * var(--framer-font-size-scale, 1));
    line-height: 1.5em;
    text-align: left;
}

.feature-title {
    font-size: 60px;
    text-align: start;
}

@keyframes logoloop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* @media screen and (max-width: 1024px) {
    .hide {
        display: none;
    }
} */

@media screen and (max-width: 1024px) {
    .header {
        height: auto;
        left: 20px;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 10;
    }

    .navbar {
        padding: 20px 24px;
    }

    .mobile-nav {
        display: block;
    }

    #menu {
        display: block;
        font-size: x-large;
    }

    .show {
        display: block;
        transition: all 0.3s ease-in-out;
        width: 100%;
        text-align: center;
        flex-direction: column;
        z-index: 1000;
    }

    .show-color {
        border: 1px solid rgb(2, 6, 120);
        ;
        backdrop-filter: blur(10px);
        background-color: rgba(6, 8, 56, 0.45);
        width: 100%;
        transform: none;
        transform-origin: 50% 50% 0px;
        border-radius: 0px;
        box-shadow: rgb(0, 2, 53) 0px 1px 2px 0px;

    }

    .navbar-nav {
        margin-top: 20px;
        gap: 50px;
    }

    .btn-margin {
        margin: 20px 0px;
    }

    .br {
        border-radius: 5px;
    }
    .hide{
        display: none;
    }
    .responsive-iframe{
        width: 800px;
        height: 400px;
    }
}
@media screen and (max-width: 994px) {
    .responsive-iframe{
        width: 600px;
        height: 300px;
    }
    .main-title{
        font-size: 50px;
        text-align: center;
       line-height: 60px;
    }
}
@media screen and (max-width: 768px) {
    .responsive-iframe{
        width: 500px;
        height: 300px;
    }
    .main-title{
        font-size: 40px;
        text-align: center;
      line-height:50px ;
    }
}
@media screen and (max-width: 576px) {

    .logo-img {
        width: 150px;
    }
    .responsive-iframe{
        width: 350px;
        height: 200px;
    }
    .main-title{
        font-size: 30px;
        text-align: center;
      line-height:40px ;
    }
}


@media screen and (max-width: 340px) {
    .responsive-iframe{
        width: 200px;
        height: 100px;
    }
    .logo-img {
        width: 150px;
    }
}

/* index-page end */

/* error page start */
.error {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.error-title {
    font-size: 260px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: var(--color-3);
    text-shadow: 1px 1px 20px var(--color-11);
}

@media screen and (max-width: 994px) {
    .error-title {
        font-size: 200px;
    }
}

@media screen and (max-width: 768px) {
    .error-title {
        font-size: 150px;
    }
}

@media screen and (max-width: 576px) {
    .error-title {
        font-size: 100px;
    }
}

/* error page end */